version: "3.9"

services:
  postgresql:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: 123
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    restart: unless-stopped

  redis-cache:
    image: redis:alpine
    volumes:
      - redis_cache_data:/data
    restart: unless-stopped
  redis-queue:
    image: redis:alpine
    volumes:
      - redis_queue_data:/data
    restart: unless-stopped

#   One-off utility container to create/configure the bench.
#   After init, keep it stopped; all other services share the same bench_data.
  frappe-debugger:
    image: 276418048997.dkr.ecr.me-south-1.amazonaws.com/frappe/builder:latest
    command: sleep infinity
    working_dir: /home/akwad
    volumes:
      - bench_data:/home/akwad
    depends_on:
      - postgresql
      - redis-cache
      - redis-queue
###    restart: unless-stopped


  frappe-web:
    image: 276418048997.dkr.ecr.me-south-1.amazonaws.com/frappe/builder:latest
    command: [
      "bash","-lc",
      "cd /home/akwad/benches/${BENCH_NAME}/sites && exec ../env/bin/gunicorn --bind 0.0.0.0:8000 --workers 2 --threads 4 --access-logfile /home/akwad/benches/${BENCH_NAME}/logs/frappe-web.log --error-logfile /home/akwad/benches/${BENCH_NAME}/logs/frappe-web-error.log --timeout 120 --graceful-timeout 30 --max-requests 5000 --max-requests-jitter 500 frappe.app:application --preload"
    ]
    working_dir: /home/akwad
    volumes:
      - bench_data:/home/akwad
    depends_on:
      - postgresql
      - redis-cache
      - redis-queue
    ports:
      - "8000:8000"
    deploy:
      resources:
        limits:
          cpus: "0.50"     # half a CPU
          memory: "512M"   # max memory
        reservations:
          cpus: "0.25"     # guaranteed CPU
          memory: "256M"   # guaranteed memory
##    restart: unless-stopped
#
#
  frappe-worker-short:
    image: 276418048997.dkr.ecr.me-south-1.amazonaws.com/frappe/builder:latest
    command: >
      bash -lc "
      cd /home/akwad/benches/${BENCH_NAME}/sites &&
      ../env/bin/python -m frappe.utils.bench_helper frappe worker --queue short
      "
    working_dir: /home/akwad
    volumes:
      - bench_data:/home/akwad
    depends_on:
      - redis-queue
      - postgresql


  # Long worker
  frappe-worker-long:
    image: 276418048997.dkr.ecr.me-south-1.amazonaws.com/frappe/builder:latest
    command: >
      bash -lc "
      cd /home/akwad/benches/${BENCH_NAME}/sites &&
      ../env/bin/python -m frappe.utils.bench_helper frappe worker --queue default,long
      "
    working_dir: /home/akwad
    volumes:
      - bench_data:/home/akwad
    depends_on:
      - redis-queue
      - postgresql


  frappe-scheduler:
    image: 276418048997.dkr.ecr.me-south-1.amazonaws.com/frappe/base:latest
    command: >
      bash -lc "
      cd /home/akwad/benches/${BENCH_NAME}/sites &&
      export LD_LIBRARY_PATH=/usr/lib64 &&
      ../env/bin/python -m frappe.utils.bench_helper frappe schedule
      "
    working_dir: /home/akwad
    volumes:
      - bench_data:/home/akwad
    depends_on:
      - redis-queue
      - postgresql

  frappe-socketio:
    image: node:18
    command: >
      bash -lc "
      cd /home/akwad/benches/${BENCH_NAME} &&
      node apps/frappe/socketio.js
      "
    working_dir: /home/akwad
    volumes:
      - bench_data:/home/akwad
    ports:
      - "9000:9000"
    depends_on:
      - redis-cache

#
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    environment:
      - BENCH_NAME=sullam-bench
      - SITE_NAME=test.localhost2
    volumes:
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template
      - bench_data:/home/akwad
    depends_on:
      - frappe-web
    restart: unless-stopped

volumes:
  bench_data:
  postgresql-data:
  redis_cache_data:
  redis_queue_data:
